
@{
    ViewBag.Title = "DatosPersonales";
}

<h2>DatosPersonales</h2>


<form>
    <div>
        <label for="nombre">Nombre:</label>
        <input type="text" id="nombre" name="nombre" required />
    </div>
    <div>
        <label for="apellido">Apellido:</label>
        <input type="text" id="apellido" name="apellido" required />
    </div>
    <div>
        <input type="submit" value="Enviar" />
    </div>
</form>